<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accordion" version="1.0.0" targetFramework="net40" />
  <package id="AvalonEdit" version="5.0.2" targetFramework="net40" />
  <package id="QuickGraphPCL" version="3.6.61114.2" targetFramework="net40" />
  <package id="YAXLib" version="2.13" targetFramework="net40" />
</packages>